.about-container {
    background-color: lightgray;
}

.about_img_container {
    padding: 10px;
}

.about_welcome_container {
    padding: 30px;
}

.about_welcome_title {
    text-align: center;
}

.about_paragraph {
    padding-inline: 70px;
    padding-bottom: 40px;
}

.about_pic {
    margin: auto;
    display: block;
    border: 3px solid black;
    width: 50%;
}